@import url("./fonts.css");
@import url("./fontello.css");
@import url("./normalize.css");
@import url("./reset.css");

:root {
    --spacing: 8px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 숨김컨텐츠 */
.sr-only,
legend {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip-path: inset(50%);
}

/* 기본스타일 */
html {
    font-size: 10px;
}
body {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
        Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
        "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", sans-serif;
    font-size: 1.4rem;
    /* background-color: #ccc;
    background-image: url("./images/bg_flower.png"),
        linear-gradient(#ccc 0%, #eee 50%, #fff 60%, #fff 100%);

    background-repeat: no-repeat;
    background-position: 50% 0; */

    background: url("./images/bg_flower.png") no-repeat 50% 0,
        linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 70%, #fff 100%), #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

/* 레이아웃 */

.header,
.visual,
.main,
.slogan,
.footer-inner {
    width: 940px;
    margin: 0 auto;
}
/* Header */
.header {
    background-color: #fff;
    position: relative;
    padding: 0 30px;
    border-radius: 0 0 15px 15px;
}
/* 로고 */
.logo {
    /* background: blue; */
    position: absolute;
    top: 45px;
    left: 65px;
}

/* 멤버 링크 모음 */
.member {
    /* display: flex;
    flex-flow: row nowrap;\    justify-content: flex-end;
    align-items: center; */
    text-align: right;
    /* padding: 4px 0; */
    transform: translateX(8px);
}
.member li,
.member a {
    display: inline-block;
}

.member a {
    /* padding: 6px 8px;  */
    padding: 10px 8px;
    text-transform: uppercase;
}
/* 메인메뉴 */
.navigation {
    padding-bottom: 40px;
}

.menu {
    background: linear-gradient(
        to bottom,
        #ef9162 0%,
        #e2722d 35%,
        #e2722d 70%,
        #ef9162 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    height: 47px;
    border-top: 2px solid currentColor;
    padding-left: 232px;
    background-color: #e85e2c;
    border-radius: 0px 0px 5px 5px;
}

.menu-item {
    float: left;
    position: relative;
    border-left: 2px solid #fff;
}

.menu-button {
    line-height: 45px;
    border: 0;
    background: transparent;
    padding: 0 21px;
    font-size: 1.6rem;
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000;
}

.is-active .menu-button {
    color: #ff0;
}

.is-active .menu-button::after {
    content: "";
    display: block;
    height: 2px;
    background: #000;
}

.sub-menu a::before {
    content: "\f192";
    font-family: "fontello";
    display: inline-block;
    width: 1em;
    text-align: center;
    margin-left: 0.2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sub-menu a:hover::before,
.sub-menu a:focus::before {
    content: "\e800";
}

.sub-menu {
    position: absolute;
    display: none;
    top: 47px;
    white-space: nowrap;
    padding: 4px 0;
}

.menu-html,
.menu-css,
.menu-standards {
    left: 0;
}
.menu-accessibility,
.menu-qna,
.menu-archive {
    right: 0;
}

.sub-menu li,
.sub-menu a {
    display: inline-block;
}

.sub-menu li {
    margin-right: 0.2em;
}

.sub-menu a {
    padding: 6px 8px;
}

.is-active .sub-menu {
    display: block;
}

/* Visual */
@keyframes moveEffect {
    /* 시작 지점from 끝나는지점 to */
    0% {
        font-size: 12px;
        color: rgba(0, 0, 0, 0);
        transform: translate(0, 0);
    }
    100% {
        font-size: 24px;
        color: rgba(0, 0, 0, 1);
        transform: translate(400px, 75px);
    }
}

@keyframes fadeEffect {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.visual {
    height: 120px;
    position: relative;
}

.visual::before,
.visual::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    animation: fadeEffect 3000ms alternate infinite;
}

.visual::before {
    background-image: url("./images/ani_flower_01.png"),
        url("./images/ani_flower_02.png");
    background-position: 0 -10px, 600px 0;
}
.visual::after {
    background-image: url("./images/ani_flower_03.png"),
        url("./images/ani_flower_04.png");
    background-position: 300px 10px, 800px 10px;
    animation-delay: 1000ms;
}

.visual-text {
    font-family: Georgia, "Times New Roman", Times, serif;
    animation-name: moveEffect;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
    position: relative;
    z-index: 10;
}
/* Main contents */
.main {
    background: #fff;
    min-height: 400px;
    /* display: flex;
    justify-content: space-around;
    flex-flow: row nowrap; */
    padding: 30px 15px;
    border-radius: 15px 15px 0 0;
}

.clearfix::after {
    content: "";
    background: red;
    clear: both;
    display: block;
}

.group {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
}
.group1 {
    width: 250px;
}
.group2 {
    width: 380px;
    /* order: 1; */
}
.group3 {
    width: 190px;
}

/* 로그인 */
.login {
    background: #e85e2c radial-gradient(circle at right top, #e8852e, #e85e2c);
    border-radius: 5px;
    box-shadow: 5px 5px 0 0 #aaa;
    padding: 10px;
}

.login-title {
    color: yellow;
    font-size: 1.5rem;
    font-weight: 700;
    text-indent: 10px;
}

.login-form,
.sign {
    background: #fff;
}

.login-form {
    border-radius: 5px 5px 0 0;
    margin-top: 10px;
    padding: 10px 10px 0 10px;
}

.login-form fieldset {
    position: relative;
    border-bottom: 1px solid #aaa;
    padding-bottom: 4px;
}

.login-form div {
    margin-bottom: 6px;
}

.login-form label {
    display: inline-block;
    width: 4em;
}

.login-form input {
    width: 90px;
    height: 22px;
    border: 1px solid #aaa;
    padding: 2px 2px 2px 10px;
}

.login-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    padding: 0;
    font-size: 1.3rem;
    color: #fff;
    background-color: #e85e2c;
    border-radius: 2px;
    border: 0;
}

.sign {
    border-radius: 0 0 5px 5px;
    padding: 4px 10px;
    display: flex;
    flex-flow: row nowrap;
    font-size: 1.2rem;
    justify-content: space-between;
}

.sign a {
    padding: 4px 0;
}

.sign .icon-right-open {
    color: #e85e2c;
}

/*유효성 검사 배너 */
.validation-list {
    margin-top: 25px;
}

.validation-list li {
    margin-top: 10px;
}

.validation-list a {
    display: block;
    background: url("./images/validation_icon.png") no-repeat 15px 50% /18px 18px,
        linear-gradient(to bottom, #ccc, #eee);
    border: 1px solid #aaa;
    padding: 10px 10px 10px 40px;
    /* text-indent: 45px; */
    border-radius: 20px;
}

.validation-list a:hover,
.validation-list a:focus {
    color: #e85e2c;
}

/* 웹관련용어 */
.term {
    background: #ccc linear-gradient(to bottom, #ccc, #eee);
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.term-title {
    font-weight: 700;
}

.term-list {
    margin-top: 15px;
}

.term-list > div {
    display: flow-root;
    margin-top: 10px;
}

.term-list-subject,
.term-list-brief {
    float: right;
    width: 145px;
}

.term-list-subject {
    color: #296897;
    font-weight: 500;
}

.term-list-thumbnail {
    float: left;
}
.term-list-thumbnail img {
    vertical-align: middle;
    /* display: block; */
}

.term-list-brief {
    line-height: 1.5;
    margin-top: 5px;
}

.cross .term-list-subject,
.cross .term-list-brief {
    float: left;
}

.cross .term-list-thumbnail {
    float: right;
}

.search-form {
    border-left: 1px solid;
    border-right: 1px solid;
    border-top: 1px solid;
    border-radius: 10px 10px 0 0;
    background-image: linear-gradient(to bottom, #ccc, #eee);
}

.search-form fieldset {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 10px 20px;
}

.form-group-input {
    margin-left: 10px;
}
/* 
.button-fill {
    border-style: none;

    color: white;
} */

/* Main contents */
.slogan {
    background: lime;
}

.footer {
    background-color: #ccc;
    background-image: linear-gradient(
        to bottom,
        #ccc 0%,
        #eee 35%,
        #fff 70%,
        #fff 100%
    );
}

.footer-inner {
    background: orange;
    height: 15vh;
}
