@import url("./normalize.css");
@import url("./reset.css");

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 기본스타일 */

html {
    font-size: 10px;
}
body {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
        Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
        "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", sans-serif;
    font-size: 1.4rem;
    background-color: #ccc;
    background-image: linear-gradient(
        to bottom,
        #ccc 0%,
        #eee 35%,
        #fff 70%,
        #fff 100%
    );
}

/* 레이아웃 */

.header,
.visual,
.main,
.slogan,
.footer-inner {
    width: 940px;
    margin: 0 auto;
}
/* Header */
.header {
    background-color: #fff;
}

/* Visual */
.visual {
    background: pink;
    height: 120px;
}
/* Main contents */
.main {
    background: blue;
    min-height: 400px;
    /* display: flex;
    justify-content: space-around;
    flex-flow: row nowrap; */
    padding: 30px 15px;
}

.clearfix::after {
    content: "";
    background: red;
    clear: both;
    display: block;
}

.group {
    background: gray;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
}
.group1 {
    width: 250px;
}
.group2 {
    width: 380px;
    /* order: 1; */
}
.group3 {
    width: 190px;
}

/* Main contents */
.slogan {
    background: lime;
}

.footer {
    background-color: #ccc;
    background-image: linear-gradient(
        to bottom,
        #ccc 0%,
        #eee 35%,
        #fff 70%,
        #fff 100%
    );
}

.footer-inner {
    background: orange;
    height: 15vh;
}
